/* CSS Document */
	body {
	background: #E6E0D2 url(../img/bg.jpg) repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:8px 0px 0px 5px;
	}
	#content{
	width:681px;
	height:900px}
	#viewselect{
	border-bottom:#000000 dashed thin;
	height:50px}
	#viewselect .selectcolumn{
	width:340px;
	float:left}
	#changepage{
	background-color:#CCCCCC;
	margin-top:824px}
	#changepage span{
	background-color:transparent;
	border-width:0px;
	font-size:14px;
	}
	#changepage a{
	text-decoration:none;
	color:#A2816D}
	#changepage a:hover{
	color:#FF3333;
	text-decoration:underline}
	.previous{
	margin-left:280px;
	}
	.next{
	margin-left:30px;
	}
	#viewselect select{
	width:2px;
	float:left
	}
	#viewselect input{
	width:85px;
	}
	#viewselect .selectcolumn{
	float:left;
	height:20px}
	#viewselect .method1{
	margin-left:0px;
	margin-bottom:5px;
	}
	#viewselect .method2{
	margin-left:200px;
	margin-bottom:5px}
	#viewselect #selectdate{
	height:15px;
	margin-bottom:0px}
	#viewselect #labelvalue{
	height:15px;}
	#viewselect .selecttext1{
	margin-left:20px;
	width:90px;
	height:23px;
	margin-bottom:0px}
	#viewselect .selecttext2{
	margin-left:40px;
	width:90px;
	height:23px;
	margin-bottom:0px}
