/* CSS Document */
	body {
	background: #E6E0D2 url(../img/bg.jpg) repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:8px 0px 0px 5px;
	}
	#content{
	width:681px;
	height:900px}
	#viewselect{
	border-bottom:#000000 dashed thin;
	height:31px}
	#changepage{
	background-color:#CCCCCC;
	margin-top:824px}
	#changepage span{
	background-color:transparent;
	border-width:0px;
	font-size:14px;
	}
	#changepage a{
	text-decoration:none;
	color:#A2816D}
	#changepage a:hover{
	color:#FF3333;
	text-decoration:underline}
	.previous{
	margin-left:280px;
	}
	.next{
	margin-left:30px;
	}
	#viewselect input{
	width:85px; display:
	}
	#viewselect .selectcolumn1{
	width:180px;
	float:left;
	height:30px;
	margin-right:40px;}
	#viewselect .selectcolumn2{
	width:280px;
	float:left;
	height:30px;
	margin-right:40px;}
	<!--查询按钮的布局-->
	#viewselect .selectcolum3{
	width:80px;
	float:left;
	height:25px;
	margin:0px 10px 0px 10px;
	}
	#viewselect #selectdate{
	height:15px;
	margin-bottom:0px}
	#viewselect .selecttext{
	width:68px;
	height:28px;
	margin-right:20px
	}
	#viewselect #labelvalue{
	margin-bottom:0px;
	font-size:14px;
	display:none;
	}
	.nav-title{
	color:#0000CC;
	}
